# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# VS Code
.vscode/

# Mac
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# Arquivos de imagem
*.png
*.jpg
*.jpeg
*.bmp
*.tiff
*.tif
*.gif
*.svg
*.webp
*.heic
*.raw
*.ico

# Arquivos DICOM gerados
*.dcm

# Exemplos de arquivos sensíveis
*.pdf
*.csv
*.xlsx
*.xls
*.doc
*.docx
*.ppt
*.pptx
*.json
*.xml
*.yml
*.yaml
*.db
*.sqlite
*.sqlite3
*.bak
*.key
*.pem
*.crt
*.pfx
*.env
*.secrets
*.token
*.cert
*.p12
*.asc

# Outros arquivos temporários
*.log
*.tmp
